.prettierignore

*.actual
*.expected
*.log
*.qlref
*.testproj/
options

.tmp/
build
client/**/after/
client/**/before/
coverage
extensions/vscode/.vscode-test
extensions/vscode/test/fixtures/
node_modules
query-results*
server/dist/
workshops/

