.prettierignore

*.actual
*.expected
*.log
*.ql
*.qll
*.qlref
*.testproj/
options

.tmp/
build
client/**/after/
client/**/before/
coverage
extensions/vscode/.vscode-test
extensions/vscode/test/fixtures/
node_modules
query-results*
server/dist/
server/ql/*/tools/src/*.md
server/ql/*/tools/src/**/*.md
server/ql/*/tools/test/*
workshops/

